{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for messsage in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
{% block main %}

    <form action="/deposit" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
{% endblock %}