{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}
{% block main %}
    <form action="/register" method="post">
        Enter a username
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        Enter a password
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        Confirm the password
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password" type="password">
        </div>
        <div>
         <button class="btn btn-primary" type="submit">Create Account</button>
        </div>
    </form>
{% endblock %}
